html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: rgb(17, 30, 16);
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.mySwiper {
  height: 100%;

  .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 10px;
    color: white;
    transform: rotate(-4deg);
  }
  .swiper-wrapper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 100%;

    .swiper-slide {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 500px;

      div {
        transform: rotate(-4deg);
      }

      img {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
      }

      .main-image {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 100%;

        img {
          display: flex;
          flex-shrink: 0;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }

      .right-image {
        position: absolute;
        bottom: 10vh;
        left: 0;
        z-index: -1;
        width: 90%;
        height: 90%;
        transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition-delay: 0.5s;

        &.active {
          left: 40vh;
          transform: rotate(3deg) !important;
        }

        img {
          display: flex;
          flex-shrink: 0;
          transform: scale(0.7);
        }
      }

      .left-image {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 90%;
        height: 90%;
        transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition-delay: 0.5s;

        &.active {
          left: -30vh;
          transform: rotate(-9deg) !important;
        }

        img {
          display: flex;
          flex-shrink: 0;
          transform: scale(0.7);
        }
      }
    }
  }
}

.i-title {
  position: absolute;
  left: 30%;
  top: 40%;
  z-index: 1;
  height: 8vw;
  overflow: hidden;
  user-select: none;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);

  .i-title-wrapper {
    height: 100%;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;

    .i-title-item {
      color: white;
      font-size: 7vw;
      opacity: 0.5;
    }
  }
}

@media (max-width: 2200px){
    .i-title {
        top: 20%;
    }

    .mySwiper .swiper-wrapper .swiper-slide .right-image.active {
        left: 25vh;
    }

    .mySwiper .swiper-wrapper .swiper-slide .left-image.active {
        left: -20vh;
    }
}


@media (max-width: 1280px) {
  .mySwiper .swiper-wrapper .swiper-slide .right-image.active {
    left: 25vh;
  }
  .mySwiper .swiper-wrapper .swiper-slide .left-image.active {
    left: -20vh;
  }

  .i-title {
    top: 25%;
  }
}

@media (max-width: 1024px) {
  .mySwiper .swiper-wrapper .swiper-slide {
    width: 300px;
    height: 400px;
  }

  .i-title {
    top: 30%;
  }
}

@media (max-width: 912px){
    .mySwiper {
        padding-top: 250px;
    }

    .mySwiper .swiper-wrapper .swiper-slide .left-image.active {
        left: -12vh;
    }

    .mySwiper .swiper-wrapper .swiper-slide .right-image.active {
        left: 12vh;
    }

    .mySwiper .swiper-wrapper .swiper-slide .right-image {
        bottom: 3vh;
    }

    .i-title {
        left: 20%;
    }
}

@media (max-width: 820px) {
  .mySwiper .swiper-wrapper .swiper-slide .left-image.active {
    left: -12vh;
  }

  .mySwiper .swiper-wrapper .swiper-slide .right-image.active {
    left: 13vh;
    bottom: 6vh;
  }

  .mySwiper .swiper-wrapper .swiper-slide {
    width: 200px;
    height: 300px;
  }

  .mySwiper {
    padding-top: 30vh;
  }

  .mySwiper .swiper-wrapper .swiper-slide .right-image {
    bottom: 5vh;
  }

  .i-title {
    top: 45%;
    left: 25%;
  }

  .mySwiper .swiper-wrapper .swiper-slide .right-image.active {
    left: 13vh;
    bottom: 5vh;
}
}


@media (max-width: 414px){
    .mySwiper .swiper-wrapper .swiper-slide {
        width: 110px;
        height: 210px;
    }

    .mySwiper .swiper-wrapper .swiper-slide .right-image.active {
        left: 9vh;
        bottom: 3vh;
    }

    .mySwiper .swiper-wrapper .swiper-slide .left-image.active {
        left: -8vh;
        bottom: 0;
    }

}

@media (max-width: 375px){
    .i-title {
        top: 50%;
    }
}


@media (max-width: 280px){
    .mySwiper .swiper-wrapper .swiper-slide {
        width: 80px;
        height: 130px;
    }
}
